@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaceLogger</title>
    @Styles.Render("~/bundles/css")   
    
    <style>
        div.chartContainer {width: 600px; height: 300px; margin-bottom: 50px;}
    </style> 
</head>
<body>
    <div id="content">
        <a href="/Activity/5">weiter</a>
        <div class="chartContainer">
            <canvas id="chartSpeed"></canvas>
        </div>
        <div class="chartContainer">
            <canvas id="chartHeartrate"></canvas>
        </div>
        <div class="chartContainer">
            <canvas id="chartAltitude"></canvas>
        </div>
    </div>

    @Scripts.Render("~/bundles/lib") 
    <script>

        $(function () {
            // $.get('/api/activity/5/chart', convertData);
        });

        function convertData(response) {
            var labels = [], speed = [], heartrate = [], altitudeMeters = [];

            response.forEach(function (item) {                
                labels.push(item.ElapsedSeconds*1000);
                speed.push(item.Speed);
                heartrate.push(item.Heartrate);
                altitudeMeters.push(item.AltitudeMeters);
            });

            drawChart(labels, speed, 'chartSpeed' );
            drawChart(labels, heartrate, 'chartHeartrate' );
            drawChart(labels, altitudeMeters, 'chartAltitude' );
        }

        function drawChart(labels, data, containerId) {  
            var ctx = document.getElementById(containerId);
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{ data: data }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'minute',
                                unitStepSize: 5,
                                displayFormats: {
                                    minute: 'hh:mm:ss'
                                }
                            },
                            ticks: {
                                callback: function (value) {
                                    // eine Stunde abziehen (das Date-Objekt um 1AM startet, wenn das erste Date-Objekt mit 0 initialisiert wird)
                                    var hour = parseInt(value.substring(0,2)) - 1;
                                    return (hour < 10? '0' : '') + hour + value.substring(2);
                                },
                            },
                        }]
                    },
                    tooltips: {
                        callbacks: {
                            title: function (tti) {                                
                                return 'Zeit: ' + moment(tti[0].xLabel).subtract(1, 'hours').format('HH:mm:ss');                                
                            },
                            label: function (tti) {
                                var n = tti.yLabel;
                                return n % 1 === 0? n : (Math.round(n * 100) / 100).toFixed(2);
                            }
                        }
                    },
                    elements: {
                        point: {
                            radius: 0,
                            hitRadius: 5
                        }
                    }
                }                
            });
        }
    </script>    
</body>
</html>


