
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaceLogger</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div id="content"></div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        window['activityId'] = '@ViewBag.ActivityId';
    </script>

    <script src="@Url.Content("~/Scripts/Components/ValueFormatter.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Components/Laps.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Activtiy.jsx")"></script>
</body>
</html>

